*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #d5d5d5;
}

a {
    text-decoration: 0;
    color:rgb(211, 233, 253)
}

iframe {
    position: relative;
}