/*General page*/

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#particles-js {
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: -1;
}

body {
    background-color: #575353;
    margin: 0;
    padding: 0;
    justify-content: center;
}

.imgheader{
    width: 100%;
    height: 200px;
    opacity: 50%;
}
h1 {
    width: 100%;
    position: absolute;
    text-align: center;
    font-size: 75px;
    font-family: cambria;
    color: #fff;
    text-shadow: 5px 5px #363535;
    z-index: 2;
}

header{
    position: absolute;
    width: 100%;
    margin: 0;
    padding: 0;
}

.header{
    width: 100%;
    position: relative;
    display: flex;
    margin-top: -160px;
    box-shadow: 0px 5px #00000071;
}
/*left side menu*/

div#menu{
    z-index: 2;
    position: absolute;
}

input {
    display: none;
    position: absolute;
}

input:checked ~ label .hamburguer {
    transform: rotate(45deg);
}

input:checked ~ label .hamburguer::before {
    transform: rotate(90deg);
    top: 0;
}

input:checked ~ label .hamburguer::after{
    transform: rotate(90deg);
    bottom: 0;
}

label{
    position: absolute;
    left: 100px;
}
 a#menu_option{
     padding-left: 20px;
 }

 a#menu_option:hover{
    padding-left: 20px;
    transform: translateX(15px);
}

.menu-icon {
    background: #575353;
    position: fixed;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px;
    top: 25px;
    left: 25px;
    z-index: 2;
}

.hamburguer {
    transition: 0.3s ease-in-out;
    position: relative;
    display: block;
    width: 25px;
    height: 4px;
    background: rgb(0, 243, 61);
    top: 17px;
    left: 7px;
}

.hamburguer::before,
.hamburguer::after {
    transition: 0.2s ease-in-out;
    background: rgb(0, 243, 61);
    width: 100%;
    height: 100%;
    display: block;
    content: '';
    position: absolute;
}

.hamburguer::before {
    top: -8px;
}
.hamburguer::after {
    bottom: -8px;
}

nav {
    transition: 0.5s;
    position: fixed;
    background-color: rgb(16, 16, 16, .5);
    left: -400px;
    width: 400px;
    height: 100%;
}

input[type="checkbox"]:checked ~ nav {
    transform: translateX(400px);
    transition: 0.5s;
}

ul {
    list-style: none;
    position: absolute;
    top: 100px;
    width: 100%;
}

.menu_list {
    background-color: rgba(20, 20, 48, 0.692);
    border: rgba(22, 22, 24, 0.788);
    position: relative;
    height: 3px;
    width: 50%;
    left: 10px;
}

/*Slide show style*/

.slideshow{
    position: relative;
    padding-top: 500px;
    width: 100%;
    height: 1000px;
    overflow: hidden;
    box-shadow: 1px 3px #000000;
}

.center {
    border: 5px #27e3fc;
    position: relative;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -20%);
}

.navigation {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%);
    display: flex;
}

.bar {
    position: relative;
    width: 50px;
    height: 10px;
    border: 2px solid #ffffff;
    margin: 6px;
    cursor: pointer;
    transition: 0.4s;
}

.bar:hover {
    background-color: #fff;

}

.slides{
    width: 500%;
    height: 100%;
    display: flex;
}

.slide {
    width: 20%;
    transition: 0.6s;
}

img .slide {
    width: 100%;
    height: 100%;
}

input[name="s"]{
    visibility: hidden;
    position: absolute;
}

#s1:checked ~ .s1 {
    margin-left: 0%;
}

#s2:checked ~ .s2 {
    margin-left: -20%;
}

#s3:checked ~ .s3 {
    margin-left: -40%;
}

#s4:checked ~ .s4 {
    margin-left: -60%;
}
#s5:checked ~ .s5 {
    margin-left: -80%;
}

/*Right side social media menu*/

.socialmedia {
    padding: 25px 25px;
    position: fixed;
    top: 130px;
    right: -25px;
    background: rgba(48, 48, 54, 0.671);
    z-index: 2;
}

p {
    font-size: 24px;
    color: #ffffff;
    right: 10px;
    top: 20px;
}

a{
    text-decoration: 0;
    color:rgb(255, 255, 255);
    display: block;
    padding: 20px 5px;
    transition: 1s;
}

a:hover {
    background-color: rgba(243, 41, 41, 0.774);
    color: rgb(212, 212, 212);
    transition: 0.5s;
    transform: translate(-10px);
}

img#social {
    height: 60px;
    width: 60px;
}

.services_options {
    background-color: #0e063034;
    width: 100%;
    display: flex;
    position: relative;
    padding-left: 20px;
}

img#services {
    display: flex;
    position: relative;
    height: 380px;
    width: 480px;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: gray;
    transition: 1.2s;
    margin: auto;
}

img#services:hover{
    transition: 0.7s;
    height: 400px;
    width: 500px;
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
    filter: none;
}

a#services {
    display: flex;
}

a#services:hover{
    background-color: #d5d5d5;
    transform: translateY(-5px);
}

.description1, .description2, .description3{
    font-family: cambria;
    font-weight: bolder;
    font-size: 30px;
    height: 50px;
    width: 280px;
    padding-left: 10px;
    padding-top: 7px;
    margin-left: auto;
    margin-top: 300px;
    background-color: #000000b7;
    position: absolute;
    transition: 1s;
    z-index: 1;
}

img#services:hover ~ .description1 {
    background-color: #12F475;
    color: #082e16;
    transition: 0.5s;
    padding-left: 110px;
    width: 100%;
    transform: translateX(0px) translateY(10px);
}

img#services:hover ~ .description2 {
    background-color: #545555;
    color: #ffffff;
    transition: 0.5s;
    padding-left: 120px;
    width: 100%;
    transform: translateX(0px) translateY(10px);
}

img#services:hover ~ .description3 {
    background-color: #27e3fc;
    color: #0c3b68;
    transition: 0.5s;
    padding-left: 150px;
    width: 100%;
    transform: translateX(0px) translateY(10px);
}

/* Submenu group */

.submenu_group{
    border: 6px#4622e7;
    position: relative;
    display:flex;
    margin-left: 250px;
    margin-bottom: 20px;
    top: 50px;
}

p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 30px;
    width: 300px;
    text-align: center;
    text-shadow: 2px 3px #3f3f3f;
    background-color: #74747498;
    
}
.googlemaps {
    display: flex;
    position: static;
    align-items: flex-end;
    margin-left: 300px;
    margin-bottom: 50px;
}

iframe{
    display: flexbox;
}

footer{
    position: relative;
    font-size: 15px;
    color: gainsboro;
    background: rgb(36, 36, 36);
    padding: 30px 30px;
    width: 100%;
    bottom: 0px;
}